<footer class="footer">
  <div class="wrap">
    <div class="content">
      <div class="about">
        <a href="#">Autonomous Boss</a>
        <p>We help autonomous companies/organizations/protocols find the human resources they need to interface with the physical world.</p>
      </div>

      <div class="list">
        <p class="heading">Pages</p>
        <ul>
          {{ range .Site.Menus.main }}
          <li><a href="{{.URL | absURL}}">{{ .Name }}</a></li>
          {{end}}
        </ul>
      </div>

      <div class="social">
        <p class="heading">Follow us</p>
        <ul>
          {{ range .Site.Menus.social }}
          <li><a href="{{.URL }}" target=”_blank”><i class="fab fa-{{.Name}}"></i></a></li>
          {{end}}
        </ul>
      </div>
    </div>
    <hr>
    <div class="copy">
      <ul>
        <li><a href="#">Cookies and Privacy Policy</a></li>
        <li><a href="#">Terms and services</a></li>
      </ul>
      <p>© 2021 Autonomous Boss, AC. All rights reserved.</p>
    </div>
  </div>
</footer>
