<footer class="footer">
  <div class="wrap">
    <div class="content">
      <div class="about">
        <a href="#">Autonomous Boss</a>
        <p>We help autonomous companies/organizations/protocols find the human resources they need to interface with the physical world.</p>
      </div>

      <div class="list">
        <p class="heading">Pages</p>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="organization.html">Organization</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About us</a></li>
        </ul>
      </div>

      <div class="social">
        <p class="heading">Follow us</p>
        <ul>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="copy">
      <ul>
        <li><a href="#">Cookies and Privacy Policy</a></li>
        <li><a href="#">Terms and services</a></li>
      </ul>
      <p>© 2021 Autonomous Boss, AC. All rights reserved.</p>
    </div>
  </div>
</footer>
