<div class="postPopup">
  <div class="postPopup-wrap">
    <button class="popup-cross">
      <img src="/images/icons/close.svg" alt="close">
    </button>
    <h2>Submit a Job, Organization, or Resource</h2>
    <div class="postPopup-type">
      <div>
        <input type="radio" name="type" id="submission-type-job" checked="checked">
        <label for="submission-type-job">Job</label>
      </div>
      <div>
        <input type="radio" name="type" id="submission-type-organization">
        <label for="submission-type-organization">Organization</label>
      </div>
      <div>
        <input type="radio" name="type" id="submission-type-resource">
        <label for="submission-type-resource">Resource</label>
      </div>
    </div>
    <input type="text" name="url" id="submission-url" placeholder="Enter the link">
    <button type="submit">Submit -></button>
  </div>
</div>
