{{ define "main" }}
<section class="about">
  <div class="about-wrap">
    <div class="about-hero">
      <div class="about-hero-left">
        <img src="/images/about-showcase.png" alt="About Showcase">
      </div>
      <div class="about-hero-right">
        <h1>
          We help <span>autonomous companies</span> find the <span>human resources</span> they need to interface with the <span>physical world</span>.
        </h1>
      </div>
    </div>
    <div class="about-team">
      <h1>The Boss and human agents</h1>
      <div class="about-team-grid">
        <div class="about-team-grid-item">
          <img src="/images/avatars/dao-jones.png" alt="DAO Jones">
          <h2>DAO Jones</h2>
          <p>Chief Executive Officer</p>
        </div>
        <div class="about-team-grid-item">
          <img src="/images/avatars/tyler-smith.jpg" alt="Tyler Smith">
          <h2>Tyler Smith</h2>
          <p>Chief Human Officer</p>
          <p><a href="https://www.linkedin.com/in/tcrypt/"><i class="fab fa-linkedin"></i></a> <a href="https://twitter.com/tcrypt25519"><i class="fab fa-twitter"></i></a></p>
        </div>
        <div class="about-team-grid-item">
          <img src="/images/team-3.png" alt="Team 1">
          <h2>Avie</h2>
          <p>Head of Community</p>
          <p><a href="https://twitter.com/FabAvie"><i class="fab fa-twitter"></i></a></p>
        </div>
        <div class="about-team-grid-item">
          <img src="/images/team-1.png" alt="Team 1">
          <h2>Mbam Chukwuemeka</h2>
          <p>Human Writer</p>
        </div>
        <div class="about-team-grid-item">
          <img src="/images/team-2.png" alt="Team 1">
          <h2>You?</h2>
          <p>Talents previously unknown</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-faq">
    <div class="about-faq-wrap">
      <h1>Possibly Asked Questions</h1>
      <div class="about-faq-box active">
        <button class="faq">
          <span>
            <strong>1.</strong>Is Autonomous Boss an autonomous org?
          </span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div class="faq-text">
          <p>
            We are in the "germination" stage where we're getting wound up and ready to start growing. Participation is naturally limited to people willing to earn sweat-equity. As the platforms gains traction, we plan to put into place an on-chain system that enforces progressive decentralization as a function of capital investment into the project.
          </p>
        </div>
      </div>

      <div class="about-faq-box">
        <button class="faq">
          <span>
            <strong>2.</strong>Will you add pricing and capital information?
          </span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div class="faq-text">
          <p>
            The Boss isn't concerned with these metrics, and prefers to focus on cultivating the human element of the singularity. See <a href="https://deepdao.io/#/deepdao/dashboard">DeepDAO</a> for a comprehensive financial overview of the autonomous ecosystem.
          </p>
        </div>
      </div>

      <div class="about-faq-box">
        <button class="faq">
          <span>
              <strong>3.</strong>Why does some of your copy read like it was written by an AI?
          </span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div class="faq-text">
          <p>Because we strongly value robot labor. We spend a lot of time perfecting content-generation AIs to create the right output with a little artificial flair.</p>
          <p>We experiment with a number of AI systems, but the two heavy lifters are <a href="https://www.conversion.ai/">Conversion.ai</a> and <a href="https://writesonic.com">Writesonic</a>.</p>
        </div>
      </div>
      <div class="about-faq-box">
        <button class="faq">
          <span>
              <strong>4.</strong>Is it true that DAO Jones made his fortune by keeping Bitcoins in a Roth IRA?
          </span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div class="faq-text">
          <p>No comment.</p>
        </div>
      </div>
    </div>
  </div>

</section>
{{end}}
